apiVersion: v1
kind: Namespace
metadata:
  name: {{TENANT}}-dev
  labels:
    app.kubernetes.io/part-of: manyfold-platform
    manyfold.dk/tenant: {{TENANT}}
    manyfold.dk/environment: dev
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/warn: restricted
    pod-security.kubernetes.io/audit: restricted
